* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right,
      #fff3b0,
      /* soft pale yellow */
      #f9d976,
      /* golden yellow */
      #cfcfcf,
      /* light grey */
      #a6a6a6,
      /* medium grey */
      #707070
      /* deeper grey at bottom */
    );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.05);
  z-index: -1;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2), inset 0 0 0.5px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 900px;
  max-width: 95vw;
  height: 550px;
  display: flex;
  position: relative;
  transition: transform 0.6s ease-in-out;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding: 0 50px;
  text-align: center;
}

.form-container p.signin {
  display: none;
}

.form-container p.register {
  display: none;
}

.sign-in-container {
  left: 0;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}


.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}


@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 2;
}


.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}


.overlay {
  background-size: cover;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay-panel::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('image/15076078.png') no-repeat center center/cover;
}


.overlay-panel.overlay-left::before {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

.overlay-panel.overlay-right::before {
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}



.container.right-panel-active .overlay {
  transform: translateX(50%);
}


.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 0 40px;
  transition: transform 1.3s ease-in-out;
}


.container.right-panel-active .overlay-left {
  transform: translateX(0);
}


.overlay-panel.overlay-left {
  left: 0;
  transform: translateX(-20%);
  overflow: hidden;
}

.overlay-panel.overlay-right {
  right: 0;
  transform: translateX(0);
  overflow: hidden;
}


.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


form h1 {
  font-size: 36px;
  color: #2d1f1a;
  margin-bottom: 20px;
}


form input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  backdrop-filter: blur(3px);
  border: 1.3px solid rgba(255, 255, 255, 0.3);
}

button {
  margin-top: 12px;
  border-radius: 10px;
  border: 1.3px solid white;
  background: #FAF0E6;
  color: #1F1F1F;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #ff5e57;
  color: white;
}

.ghost {
  margin-top: 12px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #FFA500;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


.ghost:hover {
  background: #ff5e57;
  color: white;
}


.social-icons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}


.social-icons a {
  font-size: 16px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transition: transform 0.3s;
}


.social-icons a:hover {
  transform: scale(1.2);
  background: rgba(255, 255, 255, 0.2);
  color: #ff5e57;
}


p {
  font-size: 14px;
  color: white;
  margin: 10px 0 0;
}


a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}


a:hover {
  text-decoration: underline;
}

.overlay-panel.overlay-left p,
h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.669),
    0 0 10px rgba(0, 0, 0, 0.6);
}

.overlay-panel.overlay-right p,
h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.669),
    0 0 10px rgba(0, 0, 0, 0.6);
}

.overlay-panel.overlay-left h2,
.overlay-panel.overlay-right h2 {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  body::before {
    background: url('image/15076078.png') no-repeat center center/cover;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    min-height: 500px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    transition: height 0.3s ease-in-out;
  }


  .sign-up-container,
  .sign-in-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 0;
  }

  .container.show-login .sign-in-container {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;

  }

  .container.show-signup .sign-up-container {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;

  }

  .form-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .form-container p.register,
  .form-container p.signin {
    display: block;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
  }

  form {
    backface-visibility: hidden;
    width: 100%;
    padding: 10px;
  }

  form h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  form input {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  button,
  .ghost {
    font-size: 13px;
    padding: 10px 30px;
    width: 100%;
  }

  .overlay-container {
    display: none;
  }

  .forgot-link {
    width: 100%;
    text-align: right;
    font-size: 13px;
    margin-top: 8px;
  }
}